<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>acp</display-name>
  	<context-param>
	    <param-name>webAppRootKey</param-name>
	    <param-value>webapp.root.athensoftacp</param-value>
	</context-param>
  
  	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
	  		classpath:com/athensoft/config/application-context.xml
	  		classpath:com/athensoft/config/dao-context.xml
	  		classpath:com/athensoft/config/service-context.xml
  		</param-value>
	</context-param>
	
	
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/com/athensoft/global/config/log4j.properties</param-value>
	</context-param>

	<context-param>
		<param-name>log4jRefreshInterval</param-name>
		<param-value>6000</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> 
	</listener>
	
	<servlet>
		<description></description>
		<display-name>acp</display-name>
		<servlet-name>acp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>acp</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>/</welcome-file>    
  </welcome-file-list>
</web-app>